In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv(r'C:\Users\Tashana\Downloads\Python-Modules-Tutorial-main\Python-Modules-Tutorial-main\student-marks.csv')
print(dataset)

        Name  Maths  Physics  Chemistry
0       John     45       22         98
1    William     44       23          2
2      Henry     22       89         35
3      Chris     88       55         23
4       Jack     45       89         45
5   Stephane     64       45         48
6     Harald     12       12         12
7     Hearmy     78       94         65
8     Sinsel     98       95         23
9     George     45       65         89
10     James     64       32         26
11      Jade     23       78         47
12     Tommy     45       98         14
13     Yonus     78       45         44
14     Randy     95       12         84
15       Rex     31       95         98
16    Tucsan     77       32         56
17     Amell     87       78         34
18       Vin     65       45         78
19    Hector     32       12         78

In [4]:
dataset = pd.read_csv(r'C:\Users\Tashana\Downloads\Python-Modules-Tutorial-main\Python-Modules-Tutorial-main\student-marks.csv').values
print(dataset)

[['John' 45 22 98]
 ['William' 44 23 2]
 ['Henry' 22 89 35]
 ['Chris' 88 55 23]
 ['Jack' 45 89 45]
 ['Stephane' 64 45 48]
 ['Harald' 12 12 12]
 ['Hearmy' 78 94 65]
 ['Sinsel' 98 95 23]
 ['George' 45 65 89]
 ['James' 64 32 26]
 ['Jade' 23 78 47]
 ['Tommy' 45 98 14]
 ['Yonus' 78 45 44]
 ['Randy' 95 12 84]
 ['Rex' 31 95 98]
 ['Tucsan' 77 32 56]
 ['Amell' 87 78 34]
 ['Vin' 65 45 78]
 ['Hector' 32 12 78]]

In [5]:
import numpy as np
avg= np.mean(dataset[:,1:], axis=1)
print(avg)

[55.0 23.0 48.666666666666664 55.333333333333336 59.666666666666664
 52.333333333333336 12.0 79.0 72.0 66.33333333333333 40.666666666666664
 49.333333333333336 52.333333333333336 55.666666666666664
 63.666666666666664 74.66666666666667 55.0 66.33333333333333
 62.666666666666664 40.666666666666664]

In [9]:
def findgrade(mark):
    if(mark>=0 and mark<35):
        grade= 'F'
    elif(mark>=35 and mark<55):
        grade= 'S'
    elif(mark>=35 and mark<65):
        grade= 'C'
    elif(mark>=65 and mark<75):
        grade= 'B'
    elif(mark>=75 and mark<100):
        grade= 'A'
    return grade

In [10]:
mathsGrades = np.array([findgrade(i) for i in dataset[:,1]])
print(mathsGrades)

['S' 'S' 'F' 'A' 'S' 'C' 'F' 'A' 'A' 'S' 'C' 'F' 'S' 'A' 'A' 'F' 'A' 'A'
 'B' 'F']

In [11]:
print(mathsGrades.reshape(-1,1))

[['S']
 ['S']
 ['F']
 ['A']
 ['S']
 ['C']
 ['F']
 ['A']
 ['A']
 ['S']
 ['C']
 ['F']
 ['S']
 ['A']
 ['A']
 ['F']
 ['A']
 ['A']
 ['B']
 ['F']]

In [12]:
mathsGrades = mathsGrades.reshape(-1,1)
print(mathsGrades)

[['S']
 ['S']
 ['F']
 ['A']
 ['S']
 ['C']
 ['F']
 ['A']
 ['A']
 ['S']
 ['C']
 ['F']
 ['S']
 ['A']
 ['A']
 ['F']
 ['A']
 ['A']
 ['B']
 ['F']]

In [13]:
phyGrades = np.array([findgrade(i) for i in dataset[:,2]])
phyGrades = phyGrades.reshape(-1,1)
print(phyGrades)

[['F']
 ['F']
 ['A']
 ['C']
 ['A']
 ['S']
 ['F']
 ['A']
 ['A']
 ['B']
 ['F']
 ['A']
 ['A']
 ['S']
 ['F']
 ['A']
 ['F']
 ['A']
 ['S']
 ['F']]

In [14]:
chemGrades = np.array([findgrade(i) for i in dataset[:,3]])
chemGrades = chemGrades.reshape(-1,1)
print(chemGrades)

[['A']
 ['F']
 ['S']
 ['F']
 ['S']
 ['S']
 ['F']
 ['B']
 ['F']
 ['A']
 ['F']
 ['S']
 ['F']
 ['S']
 ['A']
 ['A']
 ['C']
 ['F']
 ['A']
 ['A']]

In [15]:
avg = avg.reshape(-1,1).reshape(-1,1)
print(avg)

[[55.0]
 [23.0]
 [48.666666666666664]
 [55.333333333333336]
 [59.666666666666664]
 [52.333333333333336]
 [12.0]
 [79.0]
 [72.0]
 [66.33333333333333]
 [40.666666666666664]
 [49.333333333333336]
 [52.333333333333336]
 [55.666666666666664]
 [63.666666666666664]
 [74.66666666666667]
 [55.0]
 [66.33333333333333]
 [62.666666666666664]
 [40.666666666666664]]

In [16]:
dataset= np.append(dataset,mathsGrades,axis=1)
print(dataset)

[['John' 45 22 98 'S']
 ['William' 44 23 2 'S']
 ['Henry' 22 89 35 'F']
 ['Chris' 88 55 23 'A']
 ['Jack' 45 89 45 'S']
 ['Stephane' 64 45 48 'C']
 ['Harald' 12 12 12 'F']
 ['Hearmy' 78 94 65 'A']
 ['Sinsel' 98 95 23 'A']
 ['George' 45 65 89 'S']
 ['James' 64 32 26 'C']
 ['Jade' 23 78 47 'F']
 ['Tommy' 45 98 14 'S']
 ['Yonus' 78 45 44 'A']
 ['Randy' 95 12 84 'A']
 ['Rex' 31 95 98 'F']
 ['Tucsan' 77 32 56 'A']
 ['Amell' 87 78 34 'A']
 ['Vin' 65 45 78 'B']
 ['Hector' 32 12 78 'F']]

In [17]:
dataset= np.append(dataset,phyGrades,axis=1)
print(dataset)

[['John' 45 22 98 'S' 'F']
 ['William' 44 23 2 'S' 'F']
 ['Henry' 22 89 35 'F' 'A']
 ['Chris' 88 55 23 'A' 'C']
 ['Jack' 45 89 45 'S' 'A']
 ['Stephane' 64 45 48 'C' 'S']
 ['Harald' 12 12 12 'F' 'F']
 ['Hearmy' 78 94 65 'A' 'A']
 ['Sinsel' 98 95 23 'A' 'A']
 ['George' 45 65 89 'S' 'B']
 ['James' 64 32 26 'C' 'F']
 ['Jade' 23 78 47 'F' 'A']
 ['Tommy' 45 98 14 'S' 'A']
 ['Yonus' 78 45 44 'A' 'S']
 ['Randy' 95 12 84 'A' 'F']
 ['Rex' 31 95 98 'F' 'A']
 ['Tucsan' 77 32 56 'A' 'F']
 ['Amell' 87 78 34 'A' 'A']
 ['Vin' 65 45 78 'B' 'S']
 ['Hector' 32 12 78 'F' 'F']]

In [18]:
dataset= np.append(dataset,chemGrades,axis=1)
print(dataset)

[['John' 45 22 98 'S' 'F' 'A']
 ['William' 44 23 2 'S' 'F' 'F']
 ['Henry' 22 89 35 'F' 'A' 'S']
 ['Chris' 88 55 23 'A' 'C' 'F']
 ['Jack' 45 89 45 'S' 'A' 'S']
 ['Stephane' 64 45 48 'C' 'S' 'S']
 ['Harald' 12 12 12 'F' 'F' 'F']
 ['Hearmy' 78 94 65 'A' 'A' 'B']
 ['Sinsel' 98 95 23 'A' 'A' 'F']
 ['George' 45 65 89 'S' 'B' 'A']
 ['James' 64 32 26 'C' 'F' 'F']
 ['Jade' 23 78 47 'F' 'A' 'S']
 ['Tommy' 45 98 14 'S' 'A' 'F']
 ['Yonus' 78 45 44 'A' 'S' 'S']
 ['Randy' 95 12 84 'A' 'F' 'A']
 ['Rex' 31 95 98 'F' 'A' 'A']
 ['Tucsan' 77 32 56 'A' 'F' 'C']
 ['Amell' 87 78 34 'A' 'A' 'F']
 ['Vin' 65 45 78 'B' 'S' 'A']
 ['Hector' 32 12 78 'F' 'F' 'A']]

In [18]:
dataset= np.append(dataset,chemGrades,axis=1)
print(dataset)

[['John' 45 22 98 'S' 'F' 'A']
 ['William' 44 23 2 'S' 'F' 'F']
 ['Henry' 22 89 35 'F' 'A' 'S']
 ['Chris' 88 55 23 'A' 'C' 'F']
 ['Jack' 45 89 45 'S' 'A' 'S']
 ['Stephane' 64 45 48 'C' 'S' 'S']
 ['Harald' 12 12 12 'F' 'F' 'F']
 ['Hearmy' 78 94 65 'A' 'A' 'B']
 ['Sinsel' 98 95 23 'A' 'A' 'F']
 ['George' 45 65 89 'S' 'B' 'A']
 ['James' 64 32 26 'C' 'F' 'F']
 ['Jade' 23 78 47 'F' 'A' 'S']
 ['Tommy' 45 98 14 'S' 'A' 'F']
 ['Yonus' 78 45 44 'A' 'S' 'S']
 ['Randy' 95 12 84 'A' 'F' 'A']
 ['Rex' 31 95 98 'F' 'A' 'A']
 ['Tucsan' 77 32 56 'A' 'F' 'C']
 ['Amell' 87 78 34 'A' 'A' 'F']
 ['Vin' 65 45 78 'B' 'S' 'A']
 ['Hector' 32 12 78 'F' 'F' 'A']]

In [19]:
np.save('new-dataset',dataset)

In [18]:
dataset= np.append(dataset,chemGrades,axis=1)
print(dataset)

[['John' 45 22 98 'S' 'F' 'A']
 ['William' 44 23 2 'S' 'F' 'F']
 ['Henry' 22 89 35 'F' 'A' 'S']
 ['Chris' 88 55 23 'A' 'C' 'F']
 ['Jack' 45 89 45 'S' 'A' 'S']
 ['Stephane' 64 45 48 'C' 'S' 'S']
 ['Harald' 12 12 12 'F' 'F' 'F']
 ['Hearmy' 78 94 65 'A' 'A' 'B']
 ['Sinsel' 98 95 23 'A' 'A' 'F']
 ['George' 45 65 89 'S' 'B' 'A']
 ['James' 64 32 26 'C' 'F' 'F']
 ['Jade' 23 78 47 'F' 'A' 'S']
 ['Tommy' 45 98 14 'S' 'A' 'F']
 ['Yonus' 78 45 44 'A' 'S' 'S']
 ['Randy' 95 12 84 'A' 'F' 'A']
 ['Rex' 31 95 98 'F' 'A' 'A']
 ['Tucsan' 77 32 56 'A' 'F' 'C']
 ['Amell' 87 78 34 'A' 'A' 'F']
 ['Vin' 65 45 78 'B' 'S' 'A']
 ['Hector' 32 12 78 'F' 'F' 'A']]

In [21]:
dataset= np.append(dataset,avg,axis=1)
print(dataset)



df= pd.DataFrame(data=dataset)
print(df)

[['John' 45 22 98 'S' 'F' 'A' 55.0]
 ['William' 44 23 2 'S' 'F' 'F' 23.0]
 ['Henry' 22 89 35 'F' 'A' 'S' 48.666666666666664]
 ['Chris' 88 55 23 'A' 'C' 'F' 55.333333333333336]
 ['Jack' 45 89 45 'S' 'A' 'S' 59.666666666666664]
 ['Stephane' 64 45 48 'C' 'S' 'S' 52.333333333333336]
 ['Harald' 12 12 12 'F' 'F' 'F' 12.0]
 ['Hearmy' 78 94 65 'A' 'A' 'B' 79.0]
 ['Sinsel' 98 95 23 'A' 'A' 'F' 72.0]
 ['George' 45 65 89 'S' 'B' 'A' 66.33333333333333]
 ['James' 64 32 26 'C' 'F' 'F' 40.666666666666664]
 ['Jade' 23 78 47 'F' 'A' 'S' 49.333333333333336]
 ['Tommy' 45 98 14 'S' 'A' 'F' 52.333333333333336]
 ['Yonus' 78 45 44 'A' 'S' 'S' 55.666666666666664]
 ['Randy' 95 12 84 'A' 'F' 'A' 63.666666666666664]
 ['Rex' 31 95 98 'F' 'A' 'A' 74.66666666666667]
 ['Tucsan' 77 32 56 'A' 'F' 'C' 55.0]
 ['Amell' 87 78 34 'A' 'A' 'F' 66.33333333333333]
 ['Vin' 65 45 78 'B' 'S' 'A' 62.666666666666664]
 ['Hector' 32 12 78 'F' 'F' 'A' 40.666666666666664]]
           0   1   2   3  4  5  6          7
0       John  45  22  98  S  F  A       55.0
1    William  44  23   2  S  F  F       23.0
2      Henry  22  89  35  F  A  S  48.666667
3      Chris  88  55  23  A  C  F  55.333333
4       Jack  45  89  45  S  A  S  59.666667
5   Stephane  64  45  48  C  S  S  52.333333
6     Harald  12  12  12  F  F  F       12.0
7     Hearmy  78  94  65  A  A  B       79.0
8     Sinsel  98  95  23  A  A  F       72.0
9     George  45  65  89  S  B  A  66.333333
10     James  64  32  26  C  F  F  40.666667
11      Jade  23  78  47  F  A  S  49.333333
12     Tommy  45  98  14  S  A  F  52.333333
13     Yonus  78  45  44  A  S  S  55.666667
14     Randy  95  12  84  A  F  A  63.666667
15       Rex  31  95  98  F  A  A  74.666667
16    Tucsan  77  32  56  A  F  C       55.0
17     Amell  87  78  34  A  A  F  66.333333
18       Vin  65  45  78  B  S  A  62.666667
19    Hector  32  12  78  F  F  A  40.666667

In [22]:
df= pd.DataFrame(data=dataset, columns=["name","math","phy","chem","m-grade","p-grade","c-grade","avg"])
print(df)

        name math phy chem m-grade p-grade c-grade        avg
0       John   45  22   98       S       F       A       55.0
1    William   44  23    2       S       F       F       23.0
2      Henry   22  89   35       F       A       S  48.666667
3      Chris   88  55   23       A       C       F  55.333333
4       Jack   45  89   45       S       A       S  59.666667
5   Stephane   64  45   48       C       S       S  52.333333
6     Harald   12  12   12       F       F       F       12.0
7     Hearmy   78  94   65       A       A       B       79.0
8     Sinsel   98  95   23       A       A       F       72.0
9     George   45  65   89       S       B       A  66.333333
10     James   64  32   26       C       F       F  40.666667
11      Jade   23  78   47       F       A       S  49.333333
12     Tommy   45  98   14       S       A       F  52.333333
13     Yonus   78  45   44       A       S       S  55.666667
14     Randy   95  12   84       A       F       A  63.666667
15       Rex   31  95   98       F       A       A  74.666667
16    Tucsan   77  32   56       A       F       C       55.0
17     Amell   87  78   34       A       A       F  66.333333
18       Vin   65  45   78       B       S       A  62.666667
19    Hector   32  12   78       F       F       A  40.666667

In [23]:
df.to_csv('new-dataset.csv',index=False)